.welcome {
	font-family: var(--third-font);
	background: #f0f6fe;
	max-width: 400px;
	width: 100%;
	place-items: center;
	text-align: center;
	padding: 90px 24px;
	gap: 67px;
	margin-top: 30px;
	border-radius: 23px;
	box-shadow: -3px 5px 21px 2px rgba(142, 142, 142, 0.25);
}

.welcome__img {
	max-width: 127px;
	width: 100%;
	object-fit: cover;
	padding-bottom: 60px;
}

.welcome__desc {
	padding-bottom: 100px;
	font-size: 18px;
}

.welcome__btn {
	font-size: 18px;
	font-weight: 500;
	padding: 15px 50px;
	color: #f0f6fe;
	border-radius: 50px;
	background: #533b7a;
	box-shadow: -3px 5px 21px 2px rgba(142, 142, 142, 0.25);
	cursor: pointer;
}
